.title {
    color: green
}

.button-link {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #7a9e7e;
    text-decoration: none;
    border-radius: 5px;
}

body {
    background-color: #e8f1f2;
    padding-left: 10px;
}

.border {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

.border-left {
    width: fit-content;
    border-left: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.border-right {
    width: fit-content;
    border-right: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.border-top {
    width: fit-content;
    border-top: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.border-bottom {
    width: fit-content;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.border-radius {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.background-image {
    background-image: url('https://www.w3schools.com/css/img_lights.jpg'');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 10px;
}